body{
   background: rgb(51, 170, 144);
   font: normal 15pt Arial;
   
}

header{
    color: rgb(32, 30, 30) ;
    text-align: center;


}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0.363);

}
div{
    text-align: center;
    padding: 8px;
}

footer{
    color: rgb(32, 30, 30);
    text-align: center;
    font: italic 15pt Arial;



}